<div *ngIf='todo'>
    <form class="form" [formGroup]="todoForm" novalidate (ngSubmit)='onSubmit()'>
        
      <h2 class="form-signin-heading">Todo</h2>
      <label for="action" class="sr-only">Action</label>
      <input type="text" id="action" class="form-control" placeholder="Action" autofocus formControlName="action">

      <label for="dueDate" class="sr-only">dueDate</label>
      <input type="text" id="dueDate" class="form-control" placeholder="dueDate" formControlName="dueDate" >
      
      <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]='todoForm.status==="INVALID"'>Save</button>  

  </form>
</div>